$background-color: #ffc300;
$font-color: #131618;

.navbar__menu {
  display: flex;
  gap: 3rem;
  margin: auto;
}

.navbar__menu li {
  list-style: none;
}

.navbar {
  background-color: $background-color;
  width: 100%;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 2.2rem;
  font-weight: bold;
  display: flex;
}

.navbar__option {
  font-weight: 800;
  text-decoration: none;
  color: #131618;
  font-size: 1.25rem;
}
