<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/about/styles.css" />
    <link rel="stylesheet" href="../static/navbar/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="navbar-container"></header>
    <div class="about">
      <div class="photo-container">
        <img src="../assets/whitescreen.png" />
      </div>
      <div class="info-container">
        <h1>Nice to meet you!</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a
          rhoncus ante. Morbi et erat urna. Phasellus suscipit vitae nisl eu
          volutpat. Cras faucibus dignissim enim, sit amet imperdiet risus
          ullamcorper a. Etiam hendrerit in massa eget rhoncus. Aenean eu augue
          in nunc lacinia iaculis vitae sollicitudin quam. Fusce neque nisl,
          feugiat vel pretium eget, hendrerit nec elit. Quisque a rutrum risus,
          id pharetra lectus. Morbi euismod, arcu eget vulputate feugiat, nulla
          nisl accumsan magna, id vestibulum elit magna eget mi. In at nunc
          pulvinar purus dapibus bibendum. Duis quis elit sem.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          mattis turpis libero, non luctus libero semper eu. Mauris iaculis eget
          enim ac vulputate. Quisque sit amet est id nisl ultrices euismod non
          quis magna. Suspendisse potenti. Nam in lacinia dolor. Morbi
          sollicitudin non lorem ut ultricies. Integer gravida tortor nisl,
          pulvinar scelerisque turpis laoreet sit amet.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          mattis turpis libero, non luctus libero semper eu. Mauris iaculis eget
          enim ac vulputate. Quisque sit amet est id nisl ultrices euismod non
          quis magna. Suspendisse potenti. Nam in lacinia dolor. Morbi
          sollicitudin non lorem ut ultricies. Integer gravida tortor nisl,
          pulvinar scelerisque turpis laoreet sit amet.
        </p>
      </div>
    </div>
    <footer id="footer-container"></footer>
    <script src="../static/about/script.js"></script>
  </body>
</html>
