<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/about/styles.css" />
    <link rel="stylesheet" href="../static/navbar/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="navbar-container"></header>
    <div class="about">
      <div class="photo-container">
        <img src="../assets/whitescreen.png" />
      </div>
      <div class="info-container">
        <h1>Nice to meet you!</h1>
        <p>
          Hi, I'm Razvan, a Computer Science student who's all about programming
          and soaking up knowledge like a sponge. Dive into my portfolio, and
          you'll see how I navigate the ever-evolving tech world. I embarked on
          my academic journey with a genuine fascination for all things
          computer-related. My commitment to mastering programming has been a
          constant in my academic pursuits.
        </p>
        <p>
          I'm a coding enthusiast, well-versed in languages like HTML & CSS,
          Java, C++, and JavaScript. I tackle coding challenges with a mix of
          creativity and precision, always striving for elegant and efficient
          solutions. Learning is my jam. Every project I take on is a chance to
          level up my skills. My curiosity knows no bounds, and I'm on a
          never-ending quest for knowledge. But here's the thing that really
          fires me up: collaborating with others. I thrive on teamwork and am
          always excited to share my knowledge and ideas with peers. What makes
          it even more rewarding is my ability to break down complex tech stuff
          into plain language, making it accessible to everyone on the team. In
          group projects, I'm not just a contributor; I'm the go-to person for
          simplifying the tricky bits.
        </p>
        <p>
          With my passion for programming and learning, I'm looking ahead to a
          future filled with innovation and exploration in the ever-dynamic tech
          landscape.
        </p>
      </div>
    </div>
    <footer id="footer-container"></footer>
    <script src="../static/about/script.js"></script>
  </body>
</html>
