<section class="footer">
  <div class="socials">
    <a href="https://www.facebook.com/razvanlungeanu21/" target="_blank"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/razvan-lungeanu-454926236/"
      target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="https://github.com/Parutix" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
  </div>
  <ul class="page-list">
    <li>
      <a href="../views/index.html" class="navbar__option">Home</a>
    </li>
    <li>
      <a href="../views/about.html" class="navbar__option">About</a>
    </li>
    <li>
      <a href="../views/skills.html" class="navbar__option">Skills</a>
    </li>
    <li>
      <a href="../views/projects.html" class="navbar__option">Projects</a>
    </li>
  </ul>
</section>
<link rel="stylesheet" href="../static/footer/styles.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
