<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index/styles.css" />
    <link rel="stylesheet" href="../static/navbar/styles.css" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header id="navbar-container"></header>
    <div class="info_box">
      <h1>Hello, my name is</h1>
      <h2>Lungeanu Razvan</h2>
      <h3>
        And I'm an aspiring
        <span style="color: #ffc300">Full Stack Developer</span>
      </h3>
      <p>
        You can find more information about me on the About page or by clicking
        one of the links below
      </p>
      <div class="socials">
        <ul>
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-linkedin"></i></li>
          <li><i class="fa fa-github"></i></li>
        </ul>
      </div>
    </div>
    <script src="../static/index/script.js"></script>
  </body>
</html>
