<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index/styles.css" />
    <link rel="stylesheet" href="../static/navbar/styles.css" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header id="navbar-container"></header>
    <div class="main-container">
      <div class="info_box">
        <h1>Hello! My name is</h1>
        <h2>Lungeanu Razvan</h2>
        <h3>
          And I'm an aspiring
          <span style="color: #ffc300">Full Stack Developer</span>
        </h3>
        <p>
          You can find more information about me on the About page or by
          accessing my social pages at the bottom of each page!
        </p>
      </div>
      <h4>Education</h4>
      <div class="timeline-container">
        <div class="checkpoint">
          <div class="checkpoint-info">
            <h2>Stefan cel Mare Secondary School</h2>
            <p>2009-2017</p>
          </div>
        </div>
        <div class="checkpoint">
          <div class="checkpoint-info">
            <h2>Emil Racovita Theoretical High School Computer Science</h2>
            <p>2009-2017</p>
          </div>
        </div>
        <div class="checkpoint">
          <div class="checkpoint-info">
            <h2>Alexandru Ioan Cuza University Computer Science</h2>
            <p>2009-2017</p>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer-container"></footer>
    <script src="../static/index/script.js"></script>
  </body>
</html>
