<div class="navbar">
  <div class="logo">Portfolio</div>
  <ul class="navbar__menu">
    <li>
      <a href="#" class="navbar__option">Home</a>
    </li>
    <li>
      <a href="#" class="navbar__option">About</a>
    </li>
    <li>
      <a href="#" class="navbar__option">Skills</a>
    </li>
    <li>
      <a href="#" class="navbar__option">Projects</a>
    </li>
    <li>
      <a href="#" class="navbar__option">Contact</a>
    </li>
  </ul>
</div>
<link rel="stylesheet" href="../static/navbar/styles.css" />
