<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="../static/projectsPage/styles.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <header id="navbar-container"></header>
    <div class="projects-container">
      <div class="project">
        <h1>Pirates Jr - Hide and Seek</h1>
        <p>
          <span>C++</span> version of the Pirates Jr - Hide and Seek game where
          you are challenged to arrange the four playing pieces and help the
          pirates find what they need. The game is made entirely in c++ and uses
          the graphics.h library for the assets.
        </p>
        <a
          href="https://github.com/Parutix/Pirates_Hide_and_Seek"
          target="_blank
        "
          >Project</a
        >
      </div>
      <div class="project">
        <h1>MoX</h1>
        <p>
          A collaborative endeavor undertaken during our university tenure, our
          team, consisting of myself and two dedicated classmates, successfully
          executed a noteworthy project. A Netflix-like website where you can
          get information about movies and actors. This project was brought to
          fruition through the adept utilization of a diverse technological
          stack, encompassing <span>HTML</span>, <span>SCSS</span>,
          <span>Node.js</span>, and <span>Typescript</span>.
        </p>
        <a href="https://github.com/Parutix/MoX" target="_blank">Project</a>
      </div>
      <div class="project">
        <h1>Hospital-Planner</h1>
        <p>
          A medical consultation app where everyone starts as a user. Admins can
          grant or revoke doctor roles. Users and admins can schedule
          appointments with specific doctors. Doctors can access and manage
          patient consultations easily simplifying healthcare interactions. The
          application was realised using <span>Spring Boot</span> and
          <span>Flutter</span>.
        </p>
        <a href="https://github.com/Parutix/Hospital-Planner" target="_blank"
          >Project</a
        >
      </div>
    </div>
    <footer id="footer-container"></footer>
    <script src="../static/projectsPage/script.js"></script>
  </body>
</html>
