$background-color: #232323;

body {
  background-color: $background-color;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 10px 10%;
  }
}
