$background-color: #232323;

body {
  background-color: $background-color;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.skills-title {
  margin-bottom: 30px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 50px auto;
}

.skills-photos {
  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }

  img {
    width: calc(25% - 150px);
    margin: 75px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .skills-photos img {
    width: calc(50% - 20px);
  }
}

// TODO in the future : modify this page fully dependant on the projects you make
